DATABASE_URL=postgresql://abacaxita:change_me@postgres:5432/abacaxita_erp?schema=headshop
PORT=3333
HOST=0.0.0.0
JWT_SECRET=change-me-super-secret
MP_ACCESS_TOKEN=__SET_ME__
MP_SUCCESS_URL=http://localhost:8080/pagamento/sucesso
MP_FAILURE_URL=http://localhost:8080/pagamento/erro
MP_PENDING_URL=http://localhost:8080/pagamento/pendente
MP_WEBHOOK_URL=http://localhost:8080/api/payments/mercadopago/webhook



